{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ include('_navbar.html.twig') }}
        <div id="maincontent">
            {{ include('sections/_breadcrumb.html.twig') }}

            <section class="section-main section-twocolumn-right">
                <div class="container">
                    <div class="row">
                        {{ include('new-highlight/_form.container.html.twig') }}

                        {{ include('about/_sidebar-nav.html.twig') }}
                    </div>
                </div>
            </section>
        </div>

        {{ include('_footer.html.twig') }}



    </div>
{% endblock %}