<section class="core-projects" style="margin-top: -70px">
    <div class="container">
        <div class="row justify-content-around">
            {% for fact in project.fact | slice(0, 3) %}
                <div class="col-md-3 project-facts-item">
                    <div class="panel-body text-center m-2 mt-4">{{ fact.name|raw }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="row pro-content clearfix project-details">
            {{ include('projects/_challenges.html.twig') }}
            {{ include('projects/_solutions.html.twig') }}
            {{ include('projects/_highlights.html.twig') }}
        </div>
        <div class="projects_hours clearfix">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Data de início do projeto
                        <span>
                            {% if fact.init is defined and fact.init is not null %}
                                {{ fact.init }}
                            {% else %}
                                Não informado
                            {% endif %}
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Data de finalizacão do projeto
                        <span>
                            {% if fact.ended is defined and fact.ended is not null %}
                                {{ fact.ended }}
                            {% else %}
                                Não informado
                            {% endif %}
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Categoria<span>{{ project.area.name }}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>