<section class="core-projects" style="margin-top: -70px">
    <div class="container">
        <div class="row project-facts">
            {% for fact in project.fact %}
                <div class="col-md-3" style="background-color: #e84a37; margin: 10px; height: 160px">
                    <div class="panel-body text-center m-2 mt-4 align-middle" style="color: white !important;">{{ fact.name|raw }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="row pro-content clearfix project-details">
            {{ include('projects/_challenges.html.twig') }}
            {{ include('projects/_solutions.html.twig') }}
            {{ include('projects/_highlights.html.twig') }}
        </div>
        <div class="projects_hours clearfix">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Project Starting Date<span>12.01.2016</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Project End<span>In Progress</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Castegoria<span>{{ project.area.name }}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>