<section class="core-projects sectpad">
    <div class="container clearfix">
        <div class="row">
            {{ include('blog/_left-sidebar.html.twig') }}
            <div class="col-md-8 col-sm-12 pull-right">
                <!-- News-->
                <div class="single-post-wrapper news news-details">
                    <!-- News 1-->
                    <article class="single-blog-post img-cap-effect">
                        <div class="col-md-4 col-sm-12 pull-left img-box" style="padding: 0">
                            <a>
                                <img src="{{ asset('media/blog/'~blog.photo) }}" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12" style="padding: 0">
                            <h5>{{ blog.owner.resume|raw }}</h5>
                        </div>
                        <div class="meta-info">
                            <div class="content-box">
                                <ul class="post-links">
                                    <li><a href="#"><i class="fa fa-user"></i> Autor:  {{ blog.author }}</a></li>
{#                                    <li><a href="#"><i class="fa fa-tag"></i> Delivery across country</a></li>#}
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-comments-o"></i> Comentários: {{ blog.comment.count }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h6>{{ blog.date|date('d/M/Y') }}</h6>
                        <h2>{{ blog.title }}</h2>
                        <h4>{{ blog.subtitle }}</h4>
                         {{ blog.text|raw }}

{#                        <h3>Two Column texts</h3>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-6 info">#}
{#                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem ape riam, eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>#}
{#                            </div>#}
{#                            <div class="col-sm-6 info">#}
{#                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem ape riam, eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>#}
{#                            </div>#}
{#                        </div><br>#}
{#                        <blockquote>#}
{#                            <p>Ut enim ad minima veniam, quis nostrum exercitatio nem ullam corporis suscipit labori osam, nisi ut aliqu id ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>#}
{#                            <footer><a href="#">Michale John</a></footer>#}
{#                        </blockquote>#}
                    </article>

{#                    <div class="sec-title">#}
{#                        <h2><span>Links relacionados</span></h2>#}
{#                    </div>#}
{#                    <div class="categories">#}
{#                        <ul>#}
{#                            <li><a href="https://www.maximizemarketresearch.com/market-report/global-advanced-process-control-market/35837/"><p>[1] Advanced Process Control Market- Growth, Trends and Forecasts 2029 (maximizemarketresearch.com)</p></a></li>#}
{#                            <li><a href="https://manufacturingdigital.com/top10/mckinsey-eight-industry-40-value-drivers"><p>[2] McKinsey: Eight Industry 4.0 Value Drivers | Manufacturing Digital</p></a></li>#}
{#                        </ul>#}
{#                    </div>#}

                    <!-- Comments-->
                    <div class="news-comments">
                        <h3 class="comments_count">Comentários ({{ blog.comment.count }})</h3>
                        <div class="comments">
                            {% for comment in blog.comment %}
                            <div class="media comment">
                                <div class="media-left">
                                    <img src="{{ asset('media/social/default.jpg') }}" alt="{{  comment.name }}" width="70px">
                                    Image by <a href="https://www.freepik.com/free-psd/3d-illustration-person-with-glasses_27470370.htm#query=default%20avatar&position=24&from_view=keyword&track=ais"  target="_blank" >Freepik</a>
                                </div>
                                <div class="media-body">
                                    <h5 class="commenter-name">{{ comment.name }}</h5>
                                    <p>{{ comment }}.</p>
                                    <ul class="date-reply nav">
                                        <li><a>{{ comment.createdOn|date('d/m/Y') }}</a></li>
{#                                        <li><a>responder</a></li>#}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Leave a Comment-->
                        <div class="leave-comments">
                            <h3 class="leave-comment-title">Deixe o seu comentário</h3>
                            {{ include('blog/_new-comment.form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>