{% extends "base.html.twig" %}

{% block body %}
    {% include "challenge-set/_header.html.twig" %}
    
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
          <div class="row">
              <ul class="breadcumb col-md-10">
                  <li><a href="{{ path('app_homepage') }}">Home</a></li>
                  <li><span>{{ breadcrumb }}</span></li>
              </ul>
              <div class="col-md-2">
                  <a href="{{ path('app_add_author', {target: 'app_new_challenge_set'}) }}" class="btn btn-outline-primary btn-sm">Lançar desafio</a>
              </div>
          </div>
      </div>
    </section>

    <!-- Lattest challengeSet-->
    <div class="container clearfix sectpad-sec">
      <div class="section_header2 common">
        <h2>Todos os desafios lançados</h2>
      </div>
      {% for row in challengesSet|batch(3) %}
          <div class="row event-pad">
              {% for challengeSet in row %}
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="">
                          <a href="{{ challengeSet.url }}" target="_blank" class="image_hover">
                              {% if challengeSet.image is not empty %}
                                  <img
                                      src="{{ asset(challengeSet.image) }}" alt="{{ challengeSet.image }}"
                                      class="img-responsive zoom_img_effect" width="100%"
                                  >
                              {% else %}
                                  <img
                                      src="https://res.cloudinary.com/inovacaobrasil/image/upload/v1684699226/challengeSet/challengeSet_default.png" alt="{{ challengeSet.author }}"
                                      class="img-responsive zoom_img_effect" width="100%" height="220px"
                                  >
                              {% endif %}
                          </a>
                          <div class="event-date">
                              {% set dateTime = date(challengeSet.date) %}

                              <h3 style="margin-top: -5px">{{ dateTime|date("d")}} <small>{{ dateTime|date("M")}}</small><small>{{ dateTime|date("Y")}}</small></h3>
                          </div>
                      </div>
                      <div class="challengeSet-evn-cont">
                          <div class="challengeSet-meta">
                              <a href="{{ path('app_single_blog', {slug: challengeSet.slug}) }}">Por: {{ challengeSet.author }}</a>
                          </div>
                          <a href="{{ path('app_single_blog', {slug: challengeSet.slug}) }}">
                              <h3>{{ challengeSet.title }}</h3>
                          </a>
                      </div>
                  </div>
              {% endfor %}
          </div>
      {% endfor %}
    </div>

    {% include "modules/_footer.html.twig" %}

{% endblock %}