<footer class="sec-padding footer-bg footer-bg3">
    <div class="container clearfix">
        <div class="row">
        <div class="widget about-us-widget col-md-4 col-sm-6">
            <a href="{{  path('app_homepage') }}">
                <img width="90%" src="{{ asset('images/pngegg.png') }}" alt="">
            </a>
            <p>Nossa organização está intensamente comprometida com a busca de um mundo melhor através de mudanças positivas. Assumimos as visões dos 
            nossos clientes como se fossem nossas para desenvolver soluções que sejam mais inteligentes, eficientes e inovadoras.</p>
            <a href="{{ path('app_about_us') }}">Saiba mais <i class="fa fa-angle-double-right"></i></a>
        </div>

        <div class="widget widget-links col-md-4 col-sm-6">
        <h4 class="widget_title">Links</h4>
        <div class="widget-contact-list row m0">
            <ul>
                <li><a href="{{ path('app_about_us') }}">- Sobre nós</a></li>
                <li><a href="{{ path('app_committee')}}">- O Comitê</a></li>
                <li><a href="{{ path('app_projects') }}">- Projetos candidatos</a></li>
                <li><a>- Lançar um Desafios</a></li>
{#                <li><a href="{{ path('app_new_info_post') }}">- Quero postar um artigo</a></li>#}
            </ul>
        </div>
        </div>

        <div class="widget about-us-widget col-md-4 col-sm-6">
            <!-- <h4 class="widget_title">Siga a gente nas redes</h4> -->
            <ul class="nav">
                <li><a href="https://www.youtube.com/user/HatchLtdVideos"><i class="fa fa-youtube-square"></i></a></li>
                <li><a href="https://twitter.com/HatchGlobal"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/hatch"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://www.hatch.com/sitecore/content/RSS-Feeds/News-and-Media-RSS-Feed"><i class="fa fa-rss-square"></i></a></li>
            </ul>
        </div>
    </div>
    </div>
</footer>