<!-- Lattest news-->
<div class="container clearfix sectpad-sec">
    <div class="section_header2 common col-md-8">
        <h2>Notícias no nosso portal</h2>
    </div>
    <div class="col-md-4">
        <a href="{{ path('app_new_news') }}" class="btn btn-primary btn-lg align-right" style="background-color: lightblue">Eu quero publicar uma notícia</a>
    </div>
    <div class="row event-pad col-md-12">
        {% if news is empty %}
            <h3>Nenhuma notícia foi publicada ainda!</h3>
            <p>Se você escreveu uma notícia e ainda não aparece aqui, aguarde, em breve sera revisada</p>
        {% endif %}
        {% for singleNews in news %}
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news-evn-img">
                    <a href="{{ path('app_single_news', {slug: singleNews.slug}) }}" class="image_hover text-center">
                        {% if singleNews.image is not null %}
                            <img src="{{ asset(singleNews.image) }}" alt="{{ singleNews.author }}" class="img-responsive zoom_img_effect">
                        {% else %}
                            <img src="{{ asset('media/blog/avatar.jpg') }}" alt="avatar padrão" class="img-responsive zoom_img_effect">
                        {% endif %}
                    </a>
                    <div class="event-date">
                        <h3>
                            {{ singleNews.publishedOn|date("d")}}
                            <small>{{ singleNews.publishedOn|date("M")}}</small>
                            <small>{{ singleNews.publishedOn|date("Y")}}</small>
                        </h3>
                    </div>
                </div>
                <div class="news-evn-cont">
                    <div class="news-meta">
                        <p>Por: {{ singleNews.author }}</p>
{#                        <a href="{{ path('app_single_blog', {slug: singleNews.slug}) }}"> Comentários: </a>#}
                    </div>
                    <h3>{{ singleNews.title }}</h3>
                    <a target="_blank" href="{{ singleNews.url }}">{{ singleNews.url }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>