<header id="header">
  <!-- Header Gray Band-->
  {# <section class="wel-t-band">
    <div class="container">
      <div class="row wel-band-bg">
        <div class="col-md-6 pull-left col col-sm-12">
          <p>Welcome to Leader in Industrial Solution <span>since 2005</span></p>
        </div>
        <div class="col-md-6 pull-right text-right col-sm-12">
          <p>Global Certificate: <span>ISO 9001:2016</span></p>
        </div>
      </div>
    </div>
  </section> #}
  <!-- Header Gray Band-->
  <!-- Logo Section-->
  <div class="container">
    <div class="row pad-logo logo-wrapper">
      <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 t-logo">
        <a href="index-2.html">
          <img src="{{ asset('media/images/Hatch-Corporate-Logo.png') }}" alt="logo" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <!-- Main Navigation-->
  <div class="main_menu menu_fixed nav-home-three">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="logo"><img src="{{ asset('media/images/Hatch-Corporate-Logo.png') }}" alt=""></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="nav-menu pull-left text-left">
            <div class="nav-t-holder pull-left text-left">
              <div class="nav-t-header">
                <button><i class="fa fa-bars"></i></button>
              </div>
              <div class="nav-t-footer">
                <ul class="nav">
                  <li><a href="{{ path('app_homepage') }}">Home</a></li>
                  <li><a href="{{path('app_projects')}}">Projetos Inovadores</a></li>
                  <li><a href="{{ path('app_about_us')}}">Sobre nós</a></li>
                  <li><a href="{{ path('admin_dashboard')}}">Adm</a></li>
                </ul>
                <div class="mobile-link"><a href="{{ path('app_new_project') }}" class="submit">registrar meu projeto </a>
                  <div class="widget-t widget-t-search">
                    <div class="widget-t-inner">
                      <form action="#" method="get" class="search-form">
                        <div class="input-group">
                          <input type="search" placeholder="Search" class="form-control"><span class="input-group-addon">
                            <button type="submit"><i class="icon icon-Search"></i></button></span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-search pull-right text-right">
            <div class="widget-t widget-t-search">
              <div class="widget-t-inner">
                <form action="#" method="get" class="search-form">
                  <div class="input-group">
                    <input type="search" placeholder="Search" class="form-control"><span class="input-group-addon">
                      <button type="submit"><i class="icon icon-Search"></i></button></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Navigation-->
</header>