<nav class="navbar navbar-default fixed-top" style="background: rgba(0, 0, 0, 0.6);padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="{{  path('app_homepage') }}">
                        <img width="75%" src="{{ asset('images/pngegg.png') }}" alt="logo" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="nav-menu pull-right">
                    <div class="nav-t-holder pull-right" data-controller="menu">
                        <div class="nav-t-header visible-xs"  data-menu-target="button">
                            <button data-action="menu#toggle"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="nav-t-footer hidden-xs" data-menu-target="options">
                            <ul class="nav">
{#                                <li><a href="{{ path('app_homepage') }}">Home</a></li>#}
                                <li><a href="{{path('app_projects')}}">Projetos</a></li>
                                <li><a href="{{ path('app_news') }}">Notícias</a></li>
                                <li><a href="{{path('app_posts')}}">Blog</a></li>
                                <li><a>Desafios</a></li>
                                <li><a href="{{ path('app_committee')}}">O Comitê</a></li>
                                <li>
                                    <a href="{{ path('admin_dashboard')}}">
                                        <img src="{{ asset('admin.png') }}" alt="adm" style="width: 20px; margin-top: -5px">
                                    </a>
                                </li>
                                <li><a><i class="icon icon-Search"></i></a></li>
                            </ul>
                            <div class="mobile-link">
                                <a href="{{ path('app_new_authors_project') }}" class="submit">registrar meu projeto </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>