<div class="col-md-4 col-sm-4" style="background-color: lightgrey">
    <h3 class="text-center mt-2 mb-3">Passos para completar o registro</h3>
    <hr>
    <div class="component navigation navigation-title">
        <div class="component-content">
            <p class="text-center mt-2">passo 2</p>
            <img
                    class="img-responsive mx-auto d-block"
                    width="90%"
                    src="{{ asset('media/banner/register.png') }}" alt="register">
            <p class="mt-3 mb-2 text-center">passo 3</p>
            <img
                    class="img-responsive mx-auto d-block mb-3"
                    width="90%"
                    src="{{ asset('media/banner/challenges.png') }}" alt="challenges">
            <p class="mt-3 mb-2 text-center">passo 4</p>
            <img
                    class="img-responsive mx-auto d-block mb-3"
                    width="90%"
                    src="{{ asset('media/banner/Solutions.png') }}" alt="solutions">
            <p class="mt-3 mb-2 text-center">passo 5</p>
            <img
                    class="img-responsive mx-auto d-block mb-3"
                    width="90%"
                    src="{{ asset('media/banner/hightlights.png') }}" alt="hightlights">
            <p class="mt-3 mb-2 text-center">passo 6 <small>(repetir para cada fato)</small></p>
            <img
                    class="img-responsive mx-auto d-block mb-4"
                    width="90%"
                    src="{{ asset('media/banner/facts.png') }}" alt="facts">
        </div>
    </div>

</div>