<article>
    <figure>
        <img src="{{ blog.photo }}" alt="{{ blog.author }}" width="160" height="160" />
    </figure>
    <div class="article-content">
        <h3>
            <a id="41F5745709734A6EBEAB75428F12864A"
               name="Blog_rollup_41F5745709734A6EBEAB75428F12864A"
               href=""
               target="" tooltip="Managing supply chains in the face of climate change risk part 1">
                {{ blog.title }}
            </a>
        </h3>
        <div class="author">
            {{ blog.author }}
        </div>
        <div class="exerpt exerpt-blog">
            {{ blog.text }}
        </div>
    </div>
</article>