<article>
    <h3>
        <a id="E30E15ECD6CA43F8A511C454D5E541C6"
           name="Event_rollup_E30E15ECD6CA43F8A511C454D5E541C6"
           href="{{ event.url }}"
           target=""
           tooltip="{{ event.title }}">
            {{ event.title }}
        </a>
    </h3>
    <div class="date date-event">
        {{ event.dates }}
    </div>
    <div class="exerpt exerpt-event">
        {{ event.location }}
    </div>
</article>