<div class="container-fluid">
    <!-- *************************************************************** -->
    <!-- Start First Cards -->
    <!-- *************************************************************** -->
    <div class="row">
        {{ include('admin/dashboard/_card.html.twig') }}
        {{ include('admin/dashboard/_card.html.twig') }}
        {{ include('admin/dashboard/_card.html.twig') }}
        {{ include('admin/dashboard/_card.html.twig') }}

    </div>
    <div class="row" style="margin-top: 20px">
        {{ include('admin/dashboard/_graphics.html.twig') }}
    </div>
    <!-- *************************************************************** -->
    <!-- End First Cards -->
    <!-- *************************************************************** -->
</div>