<div role="main" class="col-md-12 col-sm-8">

    <div>
        <h1 class="pageTitle">+<span style="color: #e84a37">+</span></h1>

            <div class="project-details">
                <div class="col-md-12">
                    <h2>Soluções do projeto <span style="color: #e84a37">{{ project.title }}</span></h2>
                    {% if solutions|length > 0 %}
                        <ul style=" background-color: lightgray; padding: 10px">
                            {% for solution in solutions %}
                                <li>{{ solution.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        <h3 class="pageTitle">Adicione uma Solução</h3>
    </div>

    <div class="component sitecore-form" id="{0f27ac40-b2a6-4b1f-b31d-a58a86756b49}">
        <div class="component-content" data-controller="challenge">
            {{ form_start(project_form, {'attr': {'class': 'custom-form text-left hatch-scfForm'}}) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(project_form) }}
                </div>

                <div class="font-weight-bold">
                    <div class="required-field scfSingleLineTextBorder form-group has-feedback contactus-field-content" data-challenge-target="text">
                        {{ form_label(project_form.text, 'Texto', {'label_attr': {'class': 'control-label contactus-field-title font-weight-bold'}}) }}
                        {{ form_widget(project_form.text, {
                            'required': false,
                            'attr': {
                                'class': 'form-control text-box single-line hatch-form-control font-weight-bold',
                                'data-action': 'challenge#textAction'
                            } })
                        }}
                        {{ form_help(project_form.text, { 'attr': {'class': 'help-block font-weight-bold'} }) }}
                    </div>
                </div>
                <div class="form-submit-border col-md-6" style="margin-top: 50px" data-challenge-target="buttonPlus">
                    {{ form_widget(project_form.addNew, {
                        'label': 'Adicionar e mais uma solução ',
                        'attr': {
                            'class': 'btn btn-success btn-lg',
                            'disabled': true
                        } })
                    }}
                </div>
                <div class="form-submit-border col-md-6" style="margin-top: 50px" data-challenge-target="buttonNext">
                    {{ form_widget(project_form.next, {
                        'label': 'Adicionar e próximo',
                        'attr': {
                            'class': 'btn btn-info btn-lg',
                            'disabled': false
                        } })
                    }}
                </div>
            {{ form_rest(project_form) }}
            {{ form_end(project_form) }}
        </div>
    </div>
</div>
