<div role="main" class="col-md-12 col-sm-8">

    <div>
        <h1 class="pageTitle">Deseja candidatar o seu projeto para o "Premio Local de Inovação"?</h1>
    </div>
    <div class="bodyContent">
        <br>
        <p><a href="{{ asset('REGULAMENTO_PLI.pdf') }}" target="_blank">Regras para particitar do Premio Local de Inovação</a> [PDF]</p>
        <br>
        <h3 style="margin-left: 0in;">Para poder partipar você deve aceitar as condições e <b>reconhecer</b> que o projeto apresentado é da <b>sua autoria ou co-autoria</b></h3>
        <div class="steps" style="margin-bottom: 40px;">

        </div>
        {{ form_start(accept_form, {'attr': {'class': 'custom-form text-left hatch-scfForm'}}) }}
        {{ form_errors(accept_form) }}
            {{ form_widget(accept_form.accept, {
                'label': 'Aceito as condições, quero participar! ',
                'attr': {
                    'class': 'btn btn-success btn-lg',
                    'disabled': false
                } })
            }}
            {{ form_widget(accept_form.reject, {
                'label': 'Não aceito as condiçoẽs, quero sair! ',
                'attr': {
                    'class': 'btn btn-danger btn-lg pull-right',
                    'disabled': false
                } })
            }}
{#        <a data-animation="animated fadeInUp" href="" class="btn btn-info">Aceito as condições, quero participar!</a>#}
{#        <a data-animation="animated fadeInUp" href="" class="btn btn-danger pull-right">De jeito nenhum, estou fora! <b>Apaga tudo!</b></a>#}
        {{ form_rest(accept_form) }}
        {{ form_end(accept_form) }}
    </div>
</div>
