"<div role="main" class="col-md-9 col-sm-8">

    <div>
        <h1 class="pageTitle"> Registre o seu projeto </h1>
    </div>

    <div class="component sitecore-form" id="{0f27ac40-b2a6-4b1f-b31d-a58a86756b49}">
        <div class="component-content">
            {{ form_start(project_form, {'attr': {'class': 'custom-form text-left hatch-scfForm'}}) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(project_form) }}
                </div>

                <div class="font-weight-bold">
                    <div class="required-field scfSingleLineTextBorder form-group has-feedback contactus-field-content">
                        {{ form_label(project_form.area, 'Área', {'label_attr': {'class': 'control-label contactus-field-title font-weight-bold'}}) }}
                        {{ form_widget(project_form.area, { 'attr': {'class': 'form-control text-box single-line hatch-form-control font-weight-bold'} }) }}
                        {{ form_help(project_form.area, { 'attr': {'class': 'help-block font-weight-bold'} }) }}
                    </div>
                    <div class="required-field scfSingleLineTextBorder form-group has-feedback contactus-field-content">
                        {{ form_label(project_form.title, 'Título', {'label_attr': {'class': 'control-label contactus-field-title font-weight-bold'}}) }}
                        {{ form_widget(project_form.title, { 'attr': {'class': 'form-control text-box single-line hatch-form-control font-weight-bold'} }) }}
                        {{ form_help(project_form.title, { 'attr': {'class': 'help-block font-weight-bold'} }) }}
                    </div>
                    <div class="required-field scfSingleLineTextBorder form-group has-feedback contactus-field-content">
                        {{ form_label(project_form.subtitle, 'Subtítulo', {'label_attr': {'class': 'control-label contactus-field-title font-weight-bold'}}) }}
                        {{ form_widget(project_form.subtitle, { 'attr': {'class': 'form-control text-box single-line hatch-form-control font-weight-bold'} }) }}
                        {{ form_help(project_form.subtitle, { 'attr': {'class': 'help-block font-weight-bold'} }) }}
                    </div>
                    <div class="required-field scfSingleLineTextBorder form-group has-feedback contactus-field-content">
                        {{ form_label(project_form.location, 'Localização do projeto', {'label_attr': {'class': 'control-label contactus-field-title font-weight-bold'}}) }}
                        {{ form_widget(project_form.location, { 'attr': {'class': 'form-control text-box single-line hatch-form-control font-weight-bold'} }) }}
                        {{ form_help(project_form.location, { 'attr': {'class': 'help-block font-weight-bold'} }) }}
                    </div>
                    <div class="required-field scfSingleLineTextBorder form-group has-feedback contactus-field-content">
                        {{ form_label(project_form.photo, 'Foto do projeto', {'label_attr': {'class': 'control-label contactus-field-title font-weight-bold'}}) }}
                        {{ form_widget(project_form.photo, { 'attr': {'class': 'form-control text-box single-line hatch-form-control font-weight-bold'} }) }}
                        {{ form_help(project_form.photo, { 'attr': {'class': 'help-block font-weight-bold'} }) }}
                    </div>
                </div>
                <div class="form-submit-border">
                    {{ form_row(project_form.apresentar, { 'attr': {'class': 'btn btn-default font-weight-bold'} }) }}
                </div>
            {{ form_rest(project_form) }}
            {{ form_end(project_form) }}
        </div>
    </div>
</div>
